<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>博客管理</title>
    <!--    设置移动端预览-->
    <meta name="viewport" content="width=device-with,initial-scale=1.0">
    <!--    导入SemanticUI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--    引入自定义css-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments::menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">
                管理后台
            </h2>
            <a href="#" class="item m-mobile-hide m-item"><i class=" home icon "></i>博客</a>
            <a href="#" class=" item m-mobile-hide m-item"><i class=" idea icon "></i>分类</a>
            <a href="#" class="item m-mobile-hide m-item"><i class=" tags icon "></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/image/headPortrait/1.jpg" alt="" class="ui avatar image"/>陈学勤
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active teal item">列表</a>
        </div>
    </div>
</div>
<!--中间部分-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">添加成功！</p>
        </div>
        <div class="ui secondary form segment">
            <input type="hidden" name="page">
            <div class="online middle aligned fields" style="align-items: center">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="type"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" th:each="type : ${types}" th:text="${type.name}" data-value="1"
                                     th:data-value="${type.id}">错误日志
                                </div>
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <!--for属性实现当点击文字的时候也可以选中，这里的for属性应该与需要绑定的id属性相同-->
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button id="search-btn" class="ui mini teal basic button">
                        <i class="ui search icon"></i>
                        搜索
                    </button>
                </div>
            </div>
        </div>

        <div id="table-container">
            <!--        表格-->
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>博客类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${pageInfo.list}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.getTitle()}">SpringMVC加载过程</td>
                    <td th:text="${blog.getFlag()}">spring</td>
                    <td th:text="${blog.isRecommend()} ? '是':'否'">是</td>
                    <td th:text="${#dates.format(blog.getUpdateTime(),'yyyy-MM-dd HH:mm')}">2020-01-02 05:20</td>
                    <td th:text="${blog.isPublished()} ? '发布':'草稿'">是</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.getId()})}"
                           class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.getId()})}"
                           class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui inverted divided stackable grid">
                            <div class="three wide column" align="center">
                                <a class="item"
                                   th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                                   th:unless="${pageInfo.isFirstPage}">上一页</a>
                            </div>

                            <div class="ten wide column" align="center">
                                <p>第 <span th:text="${pageInfo.pageNum}">1</span> 页，共 <span
                                        th:text="${pageInfo.pages}"></span> 页，有 <span
                                        th:text="${pageInfo.total}">1</span>
                                    个博客</p>
                            </div>

                            <div class="three wide column" align="center">
                                <a class="item"
                                   th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                                   th:unless="${pageInfo.isLastPage}">下一页</a>
                            </div>
                        </div>
                        <div align="center" class="m-margin-top">
                            <a href="#" th:href="@{/admin/blogs/input}">
                                <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i
                                        class="pencil icon"></i>新增
                                </button>
                            </a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--    导入jQuery-->
<!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    <!--    点击按钮，如果m-item主键有m-mobile-hide样式就去除，如果没有就添加-->
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;
    $("#search-btn").click(function () {
        //点击搜索，页面清零
        $("[name='page']").val(0);
        loaddate();
    });

    //ajax请求数据
    function loaddate() {
        $("#table-container").load("/admin/blogs/search", {
            title: $("[name='title']").val(),
            type: $("[name='type']").val(),
            recommend: $("[name='recommend']").prop('checked')
        });
    }

    $('#clear-btn').on('click', function () {
        $('.ui.type.dropdown')
            .dropdown('clear')
        ;
    })
    // 添加成功消息提示添加可关闭功能
    $('.message .close').on('click',function (){
        $(this)
            .closest('.message')
            .transition('fade');
    })
</script>
</body>
</html>