<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>管理后台</title>
    <!--    设置移动端预览-->
    <meta name="viewport" content="width=device-with,initial-scale=1.0">
    <!--    导入SemanticUI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--    引入自定义css-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments::menu(0)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">
                管理后台
            </h2>
            <a href="#" class="item m-mobile-hide m-item"><i class=" home icon "></i>博客</a>
            <a href="#" class=" item m-mobile-hide m-item"><i class=" idea icon "></i>分类</a>
            <a href="#" class="item m-mobile-hide m-item"><i class=" tags icon "></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/image/headPortrait/1.jpg" th:src="@{/image/headPortrait/1.jpg}" alt="" class="ui avatar image"/>陈学勤
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间部分-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi,</h3>
            <p>陈学勤，欢迎登陆！</p>
        </div>
        <div>
            <img src="../../static/image/muyvhu.jpg" style="width: 1200px;height: 600px" th:src="@{https://i.hexuexiao.cn/up/2c/18/51/2651ee528fe5333055a9c996b651182c.jpg}" alt="" class="ui rounded bordered fluid image">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--    导入jQuery-->
<!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    <!--    点击按钮，如果m-item主键有m-mobile-hide样式就去除，如果没有就添加-->
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;
</script>
</body>
</html>